  *{
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

/*--------------- Logo & Home Button ---------------*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.web-title{
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 13px;
    text-decoration: none;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #b44c2d;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{width: 100%}

@media(max-width:700px){h1{font-size: 40px}}

body{
    overflow-x: hidden;
    text-align: center;
    margin: 20px;

    /*--------------- Background ---------------*/
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./huns-visuals-unsplash.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
}

/*--------------- Box ---------------*/
.box{
    margin: auto;
    margin-bottom: 100px;
    width: 800px;
    height: 850px;
    background: transparent;
    border: 2px solid #e6e6e6;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.box h3{
    color: #fff;
    padding: 25px;
}

label{
    color:#fff;
    padding-bottom: 20px;
    padding-right: 10px;
    display: inline-block;
    width: 150px;
    text-align: right;
}

input{
    display: inline-block;
    font-size: 14px;
    padding: 9px;
    margin-bottom: 2px;    
}

.btn{
    color: #fff;
    border: 1px solid #ea7f00;
    padding: 10px 14px;
    font-size: 13px;
    position: relative;
    background-color: #ea7f00;
    cursor: pointer;
}

.btn:hover{text-decoration: underline}

.btnclear{padding-top:100px}

/*--------------- Table ---------------*/
table{
    background: #fff;
    border-collapse: collapse;
    width: 80%;
    align-items: center;
    margin-top: 20px;
    margin: auto;
    margin-bottom: 70px;
}

th{
    border: 1px solid #ea7f00;
    background: #ea7f00;
    color: #fff;
    padding: 10px;
    text-align: center;
}

td{
    color: #000;
    padding: 10px;
    text-align: left;
}

/*--------------- Dialog Box ---------------*/
dialog{
    margin: auto;
    color: #000;
    background: #e6e6e6;
    padding: 40px;
}

dialog h4{
    color: #000;
    padding-bottom: 10px;
}

/*--------------- Footer ---------------*/
.footer{
    color: #fff;
    font-size: 13px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
